/* start products section */

.list__products {
    display: flex;
    justify-content: center;
}

.list__products li {
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    color: var(--mainColor);
    font-weight: bold;
}

.product__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid: 20px; */
}

.product__item {
    margin: 20px 5px;
}

.product__item--img {
    position: relative;
    width: 100%;
}

.product__overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.9; */
    transition: transform 0.2s;
    transform: scaleX(0);
}

.product__overlay img {
    width: 100%;
}

.product__overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product__overlay ul li {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    line-height: 30px;
    background-color: #f1ebeb;
}

.product__overlay ul li a {
    color: var(--mainColor);
}

.product__item:hover .product__overlay {
    transform: scaleX(1);
}

.product__rating ul {
    margin: 10px 0;
}

.product__rating ul li {
    cursor: pointer;
    display: inline-block;
    color: goldenrod;
}

.product__rating h4 a {
    color: var(--mainColor);
}

.product__rating p {
    font-weight: bold;
    color: var(--subColor);
    margin: 10px 0;
}

/* start blog */
.blog {
    margin: 30px 0;
    display: flex;
}

.blog__vedio {
    flex: 1;
    position: relative;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.vedio__background {
    position: relative;
}

.vedio__background img {
    width: 100%;
}

.vedio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.vedio__overlay img {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog__items {
    flex: 2;
    padding: 20px;
    background-color: #f1ebeb;
    position: relative;
    margin: 10px;
}

.blog__items .top {
    position: relative;
    padding-left: 100px;
    margin-bottom: 40px;
    color: var(--mainColor);
}
.blog__items .top h2 {
    color: var(--subColor);
}
.blog__items .top + p {
    color: var(--mainColor);
    line-height: 1.5;
}

.blog__items .top .date {
    position: absolute;
    left: 0px;
    top: 5px;
    letter-spacing: 0;
    color: var(--mainColor);
    font-size: 13px;
    font-weight: bold;
}

.blog__items .top .date p {
    font-size: 35px;
    font-weight: 600;
}

/* end blog */

.clients__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}
.clients__items img {
    margin: 10px;
}
/* end products section */
